<html>
<head>
<title>TestNG:  MyAccount_Profile_BankAccountTestCases</title>
<link href="../testng.css" rel="stylesheet" type="text/css" />
<link href="../my-testng.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.log { display: none;} 
.stack-trace { display: none;} 
</style>
<script type="text/javascript">
<!--
function flip(e) {
  current = e.style.display;
  if (current == 'block') {
    e.style.display = 'none';
    return 0;
  }
  else {
    e.style.display = 'block';
    return 1;
  }
}

function toggleBox(szDivId, elem, msg1, msg2)
{
  var res = -1;  if (document.getElementById) {
    res = flip(document.getElementById(szDivId));
  }
  else if (document.all) {
    // this is the way old msie versions work
    res = flip(document.all[szDivId]);
  }
  if(elem) {
    if(res == 0) elem.innerHTML = msg1; else elem.innerHTML = msg2;
  }

}

function toggleAllBoxes() {
  if (document.getElementsByTagName) {
    d = document.getElementsByTagName('div');
    for (i = 0; i < d.length; i++) {
      if (d[i].className == 'log') {
        flip(d[i]);
      }
    }
  }
}

// -->
</script>

</head>
<body>
<h2 align='center'>MyAccount_Profile_BankAccountTestCases</h2><table border='1' align="center">
<tr>
<td>Tests passed/Failed/Skipped:</td><td>15/0/1</td>
</tr><tr>
<td>Started on:</td><td>Thu Feb 22 17:34:03 IST 2024</td>
</tr>
<tr><td>Total time:</td><td>259 seconds (259418 ms)</td>
</tr><tr>
<td>Included groups:</td><td>All DB_PPT_CommonTestCases </td>
</tr><tr>
<td>Excluded groups:</td><td></td>
</tr>
</table><p/>
<small><i>(Hover the method name to see the test class name)</i></small><p/>
<table width='100%' border='1' class='invocation-passed'>
<tr><td colspan='4' align='center'><b>PASSED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_01_to_verify_user_able_to_Login_MPC_with_valid_credentilas()'><b>TS_04_TC_01_to_verify_user_able_to_Login_MPC_with_valid_credentilas</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases<br>Parameters: ruba.krishnasamy@mercer.com, MBCTRA@001</td>
<td></td>
<td>91</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_02_to_verify_user_able_to_Land_on_Profile_BankAccount_Page()'><b>TS_04_TC_02_to_verify_user_able_to_Land_on_Profile_BankAccount_Page</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>9</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_03_to_verify_Any_bankAccount_details_Saved_Or_not_initially()'><b>TS_04_TC_03_to_verify_Any_bankAccount_details_Saved_Or_not_initially</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>18</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_04_to_verify_user_able_to_Click_on_AddBankAccount_Button_to_open_the_Add_Bank_Account_Page()'><b>TS_04_TC_04_to_verify_user_able_to_Click_on_AddBankAccount_Button_to_open_the_Add_Bank_Account_Page</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>10</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_05_to_verify_user_able_to_Add_Saving_Bank_Account_with_valid_inputs()'><b>TS_04_TC_05_to_verify_user_able_to_Add_Saving_Bank_Account_with_valid_inputs</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>48</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_07_to_verify_user_not_able_to_Add_Bank_Account_With_Blank_inputs()'><b>TS_04_TC_07_to_verify_user_not_able_to_Add_Bank_Account_With_Blank_inputs</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>0</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_08_to_verify_user_not_able_to_Add_Bank_Account_With_invalid_inputs()'><b>TS_04_TC_08_to_verify_user_not_able_to_Add_Bank_Account_With_invalid_inputs</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>0</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_09_to_verify_Sorting_functionality_Profile_Bank_Account_Page()'><b>TS_04_TC_09_to_verify_Sorting_functionality_Profile_Bank_Account_Page</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>0</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_10_to_verify_When_user_Edit_AccountName_With_valid_input_Then_SuccessMessageDisplay_or_not()'><b>TS_04_TC_10_to_verify_When_user_Edit_AccountName_With_valid_input_Then_SuccessMessageDisplay_or_not</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>20</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_11_to_verify_When_user_Earlier_Edit_AccountName_With_valid_input_Then_Updated_Account_Name_Saved_or_not()'><b>TS_04_TC_11_to_verify_When_user_Earlier_Edit_AccountName_With_valid_input_Then_Updated_Account_Name_Saved_or_not</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>2</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_12_to_verify_Error_validations_message_Displayed_While_Editing_AccountName_with_invalid_input()'><b>TS_04_TC_12_to_verify_Error_validations_message_Displayed_While_Editing_AccountName_with_invalid_input</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>7</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_13_to_verify_When_user_click_Edit_Then_click_cancel_button_Then_Your_changes_not_Save_messages_display_or_not()'><b>TS_04_TC_13_to_verify_When_user_click_Edit_Then_click_cancel_button_Then_Your_changes_not_Save_messages_display_or_not</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>17</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_15_to_verify_delete_Button_of_unassigned_Bank_Acount_That_Should_be_Enabled_And_When_User_click_on_Delete_Button_Then_Message_Body_Should_Display()'><b>TS_04_TC_15_to_verify_delete_Button_of_unassigned_Bank_Acount_That_Should_be_Enabled_And_When_User_click_on_Delete_Button_Then_Message_Body_Should_Display</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>0</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_16_to_verify_When_user_Click_OK_Button_of_delete_unassigned_Bank_Acount_then_Success_Delete_Message_Should_Display()'><b>TS_04_TC_16_to_verify_When_user_Click_OK_Button_of_delete_unassigned_Bank_Acount_then_Success_Delete_Message_Should_Display</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>0</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_17_to_verify_When_user_delete_unassigned_Bank_Acount_then_BankAccount_Details_Removed_From_tabel_or_not()'><b>TS_04_TC_17_to_verify_When_user_delete_unassigned_Bank_Acount_then_BankAccount_Details_Removed_From_tabel_or_not</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td></td>
<td>2</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
</table><p>
<table width='100%' border='1' class='invocation-skipped'>
<tr><td colspan='4' align='center'><b>SKIPPED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_13_to_verify_When_user_click_Edit_Then_click_cancel_button_Then_Your_changes_not_Save_messages_display_or_not()'><b>TS_04_TC_13_to_verify_When_user_click_Edit_Then_click_cancel_button_Then_Your_changes_not_Save_messages_display_or_not</b><br>Test class: DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases</td>
<td><div><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;button class=&quot;btn btn-secondary btn-error &quot; ng-click=&quot;cancelAccountChange(item)&quot; data-bo-bind=&quot;static.Terms....&quot; tabindex=&quot;0&quot;&gt;Cancel&lt;/button&gt; is not clickable at point (612, 68). Other element would receive the click: &lt;div class=&quot;item-dropdown-toggler js-item-dropdown-toggler&quot; ng-click=&quot;toggleMenu($event)&quot; role=&quot;tab&quot; aria-selected=&quot;false&quot; tabindex=&quot;0&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=121.0.6167.187)
Build info: version: &apos;4.8.3&apos;, revision: &apos;e5e76298c3&apos;
System info: os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;17.0.5&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Command: [31937a54a5246653d17f4ea3ac2563c1, clickElement {id=7915AD596D26846A58F0CF0CB446E9FB_element_275}]
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 121.0.6167.187, chrome: {chromedriverVersion: 121.0.6167.184 (057a8ae7deb..., userDataDir: C:\Users\NANDAN~1.GUP\AppDa...}, fedcm:accounts: true, goog:chromeOptions: {debuggerAddress: localhost:64183}, networkConnectionEnabled: false, pageLoadStrategy: normal, platformName: WINDOWS, proxy: Proxy(), se:cdp: ws://localhost:64183/devtoo..., se:cdpVersion: 121.0.6167.187, setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:credBlob: true, webauthn:extension:largeBlob: true, webauthn:extension:minPinLength: true, webauthn:extension:prf: true, webauthn:virtualAuthenticators: true}
Element: [[ChromeDriver: chrome on WINDOWS (31937a54a5246653d17f4ea3ac2563c1)] -&gt; xpath: //*[@data-bo-bind=&apos;static.Terms.Cancel&apos;]]
Session ID: 31937a54a5246653d17f4ea3ac2563c1
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:200)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:133)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:53)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:193)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.invokeExecute(DriverCommandExecutor.java:183)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:158)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:543)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:257)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:78)
	at DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_13_to_verify_When_user_click_Edit_Then_click_cancel_button_Then_Your_changes_not_Save_messages_display_or_not(MyAccount_Profile_BankAccountTestCases.java:658)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
... Removed 21 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace898858309", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace898858309'><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;button class=&quot;btn btn-secondary btn-error &quot; ng-click=&quot;cancelAccountChange(item)&quot; data-bo-bind=&quot;static.Terms....&quot; tabindex=&quot;0&quot;&gt;Cancel&lt;/button&gt; is not clickable at point (612, 68). Other element would receive the click: &lt;div class=&quot;item-dropdown-toggler js-item-dropdown-toggler&quot; ng-click=&quot;toggleMenu($event)&quot; role=&quot;tab&quot; aria-selected=&quot;false&quot; tabindex=&quot;0&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=121.0.6167.187)
Build info: version: &apos;4.8.3&apos;, revision: &apos;e5e76298c3&apos;
System info: os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;17.0.5&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Command: [31937a54a5246653d17f4ea3ac2563c1, clickElement {id=7915AD596D26846A58F0CF0CB446E9FB_element_275}]
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 121.0.6167.187, chrome: {chromedriverVersion: 121.0.6167.184 (057a8ae7deb..., userDataDir: C:\Users\NANDAN~1.GUP\AppDa...}, fedcm:accounts: true, goog:chromeOptions: {debuggerAddress: localhost:64183}, networkConnectionEnabled: false, pageLoadStrategy: normal, platformName: WINDOWS, proxy: Proxy(), se:cdp: ws://localhost:64183/devtoo..., se:cdpVersion: 121.0.6167.187, setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:credBlob: true, webauthn:extension:largeBlob: true, webauthn:extension:minPinLength: true, webauthn:extension:prf: true, webauthn:virtualAuthenticators: true}
Element: [[ChromeDriver: chrome on WINDOWS (31937a54a5246653d17f4ea3ac2563c1)] -&gt; xpath: //*[@data-bo-bind=&apos;static.Terms.Cancel&apos;]]
Session ID: 31937a54a5246653d17f4ea3ac2563c1
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:499)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:480)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:200)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:133)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:53)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:193)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.invokeExecute(DriverCommandExecutor.java:183)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:158)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:543)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:257)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:78)
	at DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases.TS_04_TC_13_to_verify_When_user_click_Edit_Then_click_cancel_button_Then_Your_changes_not_Save_messages_display_or_not(MyAccount_Profile_BankAccountTestCases.java:658)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:124)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:583)
	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:719)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:989)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:125)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:648)
	at org.testng.TestRunner.run(TestRunner.java:505)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:455)
	at org.testng.SuiteRunner.access$000(SuiteRunner.java:40)
	at org.testng.SuiteRunner$SuiteWorker.run(SuiteRunner.java:489)
	at org.testng.internal.thread.ThreadUtil$1.call(ThreadUtil.java:52)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
</pre></div></td>
<td>4</td>
<td>DB_PPT_Common_TestCases.MyAccount_Profile_BankAccountTestCases@544d57e</td></tr>
</table><p>
</body>
</html>